/.idea
workspace.xml
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/nbproject
/public/tmp/*.html
/public/tmp/*.htm
/public/uploaded-data/profile-photos
profile-photos
/public/uploaded-data/
/app/config/local
