.show-read-more .more-text{
    display: none;
}
.selectedClass{
    text-decoration: underline;
    color: #00A0C6;
    cursor:pointer;
    font-size: 22px;
}
.articleLike:hover
{
    color:#00A0C6;
    font-size: 19px;
    text-decoration: underline;
    cursor:pointer;
}

.articleLike{
    font-size: 18px;
}